/* == VARIABLES DE COLORES == */
:root {
    --color-oscuro: #1e1e1e;
    --color-dorado: #d4af37;
    --color-dorado-claro: #f5c518;
    --color-gris-oscuro: #1e1e1e;
    --color-gris-claro: #e0e0e0;
    --color-rojo: #a83232;
    --color-rojo-claro: #d44a4a;
}

/* == BOTON PRINCIPAL == */
.btn-primary {
    background-color: var(--color-oscuro);
    color: var(--color-dorado);
    border: 2px solid var(--color-dorado);
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: var(--color-dorado);
    color: var(--color-oscuro);
    border: 2px solid var(--color-dorado);
}

.btn-primary:active {
    background-color: var(--color-dorado-claro) !important;
    color: var(--color-oscuro) !important;
    border-color: var(--color-dorado-claro) !important;
}

/* == BOTÓN SECUNDARIO == */
.btn-secondary {
    background-color: var(--color-oscuro);
    color: var(--color-gris-claro);
    border: 2px solid var(--color-gris-claro);
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.btn-secondary:hover {
    background-color: var(--color-gris-claro);
    color: var(--color-gris-oscuro);
    border: 2px solid var(--color-gris-claro);
}

.btn-secondary:active {
    background-color: var(--color-gris-claro) !important;
    color: var(--color-gris-oscuro) !important;
    border-color: var(--color-gris-claro) !important;
}

/* == BOTÓN DANGER == */
.btn-danger {
    background-color: #242424;
    color: var(--color-dorado);
    border: 2px solid #5a5a5a;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.btn-danger:hover {
    background-color: #5a5a5a;
    color: var(--color-dorado) !important;
    border: 2px solid #5a5a5a;
}

.btn-danger:active {
    background-color: #5a5a5a !important;
    color: var(--color-dorado) !important;
    border-color: #5a5a5a !important;
}

/* == ESTILOS DE TEXTO == */

h1 {
    font-weight: bold;
    border-bottom: 3px solid #d4af37;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 3px solid #d4af37;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 4px;
    margin-bottom: 15px;
}

h4 {
    font-size: 24px;
    border-bottom: 3px solid #d4af37;
    font-weight: 500;
    color: #c0c0c0;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 3px;
    margin-bottom: 12px;
}

h5 {
    font-size: 20px;
    font-weight: 400;
    color: #c0c0c0;
    display: inline-block;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

h6 {
    font-size: 18px;
    font-weight: 400;
    color: #c0c0c0;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px dashed #d4af37;
    display: inline-block;
    padding-bottom: 2px;
    margin-bottom: 8px;
}

p {
    font-size: 1rem;
    font-weight: 500;
    color: #c0c0c0;
    line-height: 1.6;
}